<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Id:<%=chatData._id %></h2>
    <form action="/chats/<%=chatData.id%>/edit?_method=PUT" method="POST">
    <p>From: <%=chatData.from%></p>
    <input type="text" name="msg" value="<%=chatData.msg%>">
    <p>To: <%=chatData.to%></p>
    <button type="submit">Edit</button>
</form>
</body>
</html>