<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat History</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="chat-container">
    <h1>Chat History</h1>
    <form action="/chat/new">
      <button>New chat</button>
    </form>
    <div class="chat-row">
      <% chatsData.forEach(chat => { %>
        <div class="chat-card">
          <p><strong>From:</strong> <%= chat.from %></p>
          <p><strong>To:</strong> <%= chat.to %></p>
          <p><strong>Message:</strong> <%= chat.msg %></p>
          <p><strong>Sent At:</strong> <%= new Date(chat.created_At).toLocaleString() %></p>
          <p><a href="/chats/<%=chat._id%>/edit">Edit</a></p>
          <form action="/delete/<%= chat._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
          
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
